name: sdk-install-exercise
on:
  push:
    branches: [ main ]
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  pull_request:

jobs:
  build-app:
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest', 'ubuntu-latest']
        swift-android-sdk-version: ['nightly-6.3', 'nightly-main']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: skiptools/actions/setup-skip@v1
        with:
          install-swift-android-sdk: true
          swift-android-sdk-version: ${{ matrix.swift-android-sdk-version }}
      - run: swift package init --name SwiftAndroidBuildDemo
      - run: |
          echo 'import Android' >> Sources/SwiftAndroidBuildDemo/SwiftAndroidBuildDemo.swift
      # workaround for skip android build toolchain location on Linux
      - run: mkdir -p ~/.swiftpm/toolchains
      - run: skip android build --verbose --arch aarch64
      - run: skip android build --verbose --arch x86_64
      - run: skip android build --verbose --arch armv7

